.card {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 18.2rem;
  padding: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.planet-spec__title {
  text-transform: uppercase;
  color: var(--text-light);
}

@media (max-width: 64.3em) {
  .planet-spec__title {
    font-size: 8px;
    letter-spacing: 0.73px;
  }
}

@media (max-width: 42.8em) {
  .card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    width: 100%;
  }

  .planet-spec__text {
    font-size: 1.4em;
  }
}
