header {
  padding: 1.5rem 2.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  letter-spacing: -1.05px;
  text-transform: uppercase;
}

/* Tablet Device --> 1030px */
@media (max-width: 64.3em) {
  .header__nav {
    flex-direction: column;
    gap: 3em;
    align-items: center;
  }
}

/* Mobile Device --> 685px */

@media (max-width: 42.8em) {
  .header__nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
